* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block {
    width: 20px;
    height: 20px;
    background-color: cornflowerblue;
    /* border: 2px solid ; */
    box-sizing: border-box ;
}
.bigbox {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    height: 700px;
    margin: 0 auto;
    /* max-width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 200px); */

}
.--active {
    background-color: blueviolet;
}